  * {
    margin: 0;
    padding: 0;
  }

  body {
    background: white;
    font-family: arial, sans-serif;
  }

  #screen {
    position: relative;
  }

  video {
    height: auto;
    width: 100%;
  }
    
  #title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #title > img {
    width: 100%;
  }

  /* Part 4 */
  article {
    align-content: center;
    text-align: left;
    margin: 2.5% 10% 2.5% 10%; /* Top Right Bottom Left */
  }

  p {
    color: black;
    font-size: 16px;
    line-height: 1.5;
  }

  #mobileImage {
    width: 100%;
    display: none;
    visibility: hidden;
  }
  
  @media only screen and (max-width: 940px) {
    video {
      display: none;
      visibility: hidden;
    }

    #mobileImage {
      display: block;
      visibility: visible;
    }
  }